@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Yanone+Kaffeesatz:wght@200..700&display=swap');

.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 30vh;
	z-index: 100;
}

.nametext {
	font-family: "Yanone Kaffeesatz";
	font-size: 100px;
	font-weight: 200;
	display: flex;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	user-select: none;

	.wrapper {
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 20px;
		.letter {
			transition: ease-out 1s;
			transform: translateY(40%);
		}
		.shadow {
  transform: scale(1, -1);
  background: linear-gradient(to top, #4f4f4f 0%, transparent 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
	}
}
