.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
  backdrop-filter: blur(2px) saturate(1.05);
  -webkit-backdrop-filter: blur(10px) saturate(1.05); 
}
.header-left { display: flex; align-items: center; justify-content: flex-start; }
.header-center { justify-self: center; display: flex; justify-content: center; }
.header-right { display: flex; align-items: center; justify-content: flex-end; gap: 12px; }

img { width: 30px; height: auto; }
